body{
	font: 16 sans-serif;
	margin: 0;
	background: ;
}
p, h1{
	text-align: center;
}
p{
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 4px;
	line-height: 25px;
}
section{
	width: 640px;
	margin: 5px auto;
	display: none;
}
img{
	width: 100%;
	display: block;
}