body{
	font: 16px 'Josefin Sans', sans-serif;
	margin: 0;
	font-size-adjust: 0.5;
	background: #ECECEC;
}
h1{
	width: auto;
	line-height: 60px;
	text-align: center;
	font-weight: 300;
	font-variant: small-caps;
	margin: 0 0 20px;
	color: #fff;
	background: #222;
	font-family: "Josefin Sans"
}
img{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 400px;

}
.galerie{
	width: 400px;
	height: 200px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	border: solid 1px #222;
	box-shadow: 0 3px 3px #ccc;
}
p{
	width: 200px;
	margin: 0 auto;

}