body{

			font:16px 'Raleway',sans-serif;
			margin:0;
		}
		h1,h2,p{
			margin:0;
			box-sizing:border-box;
		}
		h2,p{
			border-radius: 3px;
		}
		h1,h2{
			font-weight: 300;
		}
		h1{
			line-height: 3.750rem;
			text-align: center;
			background: #1565c0;
			color:#fff;
			font-weight: 100;
			margin-bottom:1.875rem;
		}
		.content{
			width:800px;
			margin:0 auto;
		}

		a{
			display: block;
			width:24.375%;
			float: left;
			margin-right:0.625%;
			
		}
		img{
			display: block;
			width:100%;
			border-radius:3px;
		}
		img:last-child{
			margin-right:0;
		}
		.galery{
			overflow: hidden;

		}
		article>p{
			line-height: 1.45rem;
		}
		article,.galery{
			margin-bottom:0.625rem;
		}
	/*ici commence le responsive*/
	@media (max-device-width:800px) and (orientation: landscape) {
		  html {
			  	-webkit-text-size-adjust: 100%;
			   -ms-text-size-adjust: 100%;
		 	}
		}
		/*il faut créer la queris pour le reste*/
		@media (max-width:1024px) {
		  .content{
		  	width: auto;
		  }
		  h1, h2, p{
		  	text-align: justify;
		  	margin: 5px;
		  }
		h1, h2{
			font-size: 5vw;
		}
		p{
			font-size: 3vw;
		}
		  .galery {
			width: auto;
			display: block;
		 	}
		}
/*		@media (max-width:1024px) and (orientation: landscape) {
		  .content{
		  	width: auto;
		  }
		  h1, h2, p{
		  	text-align: justify;
		  }
		h1, h2{
			font-size: 3vw;
		}
		p{
			font-size: 2vw;
		}
		  .galery {
			width: auto;
			display: block;
		 	}
		}*/