header,section,footer{
  width: 800px;
  margin: 0 auto 10px;
  border: solid 1px #222;
}
h1{
  text-align: center;
  color: #660D0D;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
  text-align: center;
}
p{
  text-align: justify;
}