body{
font:16px 'Open Sans', sans-serif;
margin:0;
}
h1{
margin: 0;
text-align: center;
color: #fff;
font-weight: 300;
line-height: 60px;
}
a{
text-decoration: none;
}
header{
background: #2e7d32;
margin-bottom: 30px;
}
p,h2{
margin: 0;
padding: 5px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.p-default{
font-size: 14px;
line-height: 23px;
background: #fafafa;
}
h2{
background: #43a047;
color: #fff;
font-weight: 300;
font-size: 1rem;
}
section,footer{
width: auto;
margin: 0 10px 10px;
border:solid 1px #ccc;
}
ul{
list-style: none;/*effacer les puces*/
padding: 0;
margin: 0;
}
ul>li{
margin-bottom: 10px;
background: #ccc;
border: solid 1px #ccc;  
}
footer{
border: none;
}
p>.btn-defaut{
display:inline-block;
width: 190px;
line-height: 30px;
text-align: center;
color: #fff;
background: #9e9e9e;
border-radius: 4px;
transition-duration:0.5s;
}
p>a:hover{
opacity:0.5;
box-shadow: 0 0 8px #222;
}
p>.signet:target{
color:red;
}
p>.p-primary{
background: rgb(255,0,0);
}
p>.btn-warning{
	background: #d50000;
}
p>.btn-primary{
	background: #64b5f6;
}
p>.btn-success{
	background: #4caf50;
}
p>.btn-event{
	background: #ffc107;
}
.p-warning{
	background: #ffebee;
}
.p-primary{
	background: #e1f5fe;
}
.p-success{
	background: #e8f5e9;
}
.p-event{
	background: #fff8e1;
}