body{

}
h1,h2{
	text-align: center;
	margin: 10px 0;
}
h1{
	border: solid 1px;
}
.warning{
	margin: 5px 0;
	line-height: 25px;
	text-align: center;
	color: #fff;
	display: none;
}
.form-action{
	width: 400px;
	margin: 10px auto;
	border: solid 0px #ccc;
	background: #F7F7F7;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input{
	display: block;
	width: 100%;
	margin-bottom: 5px;
	line-height: 35px;
	padding: 5px;
	border-radius: 2px;
}
input[type="button"]{
	border: 0;
	background: #4285F4;
	text-align: center;
	font-size: 1rem;
	color: #fff;
}
input[type="text"],input[type="password"]{
box-shadow: 0 0 1px #999 inset;
border: solid 1px #999;
text-align: justify;
-webkit-trasition-duration: 0.8s;
-moz-trasition-duration: 0.8s;
trasition-duration: 0.8s;
}
input[type="text"]:focus, input[type="password"]:focus{
	box-shadow: 0 0 2px #4D90FE;
}
input[type="checkbox"]{
	width: auto;
	display: inline-block;
	color: #427FED;
	vertical-align: -1.6px;
}
label{
	display: inline-block;
	font-size: 0.850rem;
	color: #427FED;
}