body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
caption{
	text-align: center;
}
table{
	border: solid 0px #FFFFFF;
}
thead{
	background: #66A0CB;
	color: #FFFFFF;
	text-align: center;
}
tr:nth-child(2n) {
    background: #DEE7ED;
} 
tfoot{
	background: #222;
	color: #fff;
}
.center{
	text-align: center;
}
table,th,td{
	border:solid 1px #222;
	border-collapse: collapse;
	padding:5px;
}
a{
	text-decoration: none;
	color:#16a085;
}
