body{
	font: 16px sans-serif;
}
h2,p{
	margin: 0;
	font-weight: 100;
}
h2{
	text-align: center;
	line-height: 35px;
}
dl{
	width: 600px;
	margin: 0 auto;
	border: solid 1px #999;
	padding: 10px;
	box-sizing:border-box;
	background: rgba(46, 204, 113, 0.6);
}
dt{
	background: rgba(46, 204, 113, 0.6);
}
dd{
	margin: 0;
	background: rgb(46, 204, 113);
}
p{
	color: #fff;
	padding: 3px;
	line-height: 22px;
}